<div id="tabs" ng-controller="Cd1Ctrl" ng-init="init()">
    <div bs-tabs>
        <div data-title="In/Out">
            <div id="io">

                Outputs:
                <div class="btn-group">
                    <div ng-repeat="out in outputs"  style="float:left">
                        <editor-checkbox text="{{out.name}}" model="out.value" change="outBtnClick(out.id)"></editor-checkbox>
                   </div>
                </div>
                <br>
                <table class="grafiz-options-table">
                    <tr>
                        <th style="text-align:left">ID</th>
                        <th>Type</th>
                        <th>NameA</th>
                        <th>ValA</th>
                        <th>NameB</th>
                        <th>ValB</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="input in inputs">
                        <td>{{input.id}}</td>
                        <td>{{input.type}}</td>
                        <td>{{input.nameA}}</td>
                        <td>{{input.valA}}</td>
                        <td>{{input.nameB}}</td>
                        <td>{{input.valB}}</td>
                        <td style="width: 1%">
                            <a href="" ng-click="editInput(input)" class="btn btn-inverse btn-small">
                                <i class="fa fa-edit"></i>
                                Edit
                            </a>
                        </td>
                    </tr>
                </table>
                <br>
                <form name="fint" class="form-inline tight-form last">
                    <ul class="tight-form-list">
                        <li class="tight-form-item" style="width: 200px">
                            Sending Interval Ms.
                        </li>
                        <li>
                            <input type="text" class="input-xlarge tight-form-input" ng-model='fr.interval' placeholder="Sending Interval Ms"></input>
                        </li>
                        <li style="float: right">
                            <button class="btn btn-success tight-form-btn" ng-click="updateInterval()">Update</button>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </form>

            </div>
        </div>
        <div data-title="Triggers">
            <div id="trig">
                <table class="grafiz-options-table">
                    <tr>
                        <th style="text-align:left">ID</th>
                        <th>Input</th>
                        <th>Operator</th>
                        <th>Value</th>
                        <th>Out</th>
                        <th>Out Dir</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="trig in triggers">
                        <td>{{trig.id}}</td>
                        <td>{{inputs[trig.input].name}}</td>
                        <td>{{oper[trig.oper].name}}</td>
                        <td>{{trig.val}}</td>
                        <td>{{outputs[trig.out].name}}</td>
                        <td>{{dir[trig.out_dir].name}}</td>
                        <td style="width: 1%">
                            <a href="" ng-click="editTrigger(trig)" class="btn btn-inverse btn-small">
                                <i class="fa fa-edit"></i>
                                Edit
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div data-title="Net">

                    <ul >
                        <li >
                            MAC: {{mac}}
                        </li>
                        <li>
                            IP: {{ip}}
                        </li>
                        <li >
                            Gateway: {{gw}}
                        </li>
                        <li >
                            Subnet Mask: {{sm}}
                        </li>
                        <li >
                            DNS: {{dns}}
                        </li>
                    </ul>

        </div>
        <div data-title="Log">
            <span ng-repeat="lg in logs track by $index">{{lg.text}}<br></span>
         </div>
    </div>

</div>

